<!--The content below is only a placeholder and can be replaced.-->
<AbsoluteLayout height="100%" width="100%">
    <GridLayout rows="* 55" cols="*" left="0" top="0" height="100%" width="100%">
        <StackLayout row="0" col="0" width="100%" orientation="horizontal">
            <ScrollView orientation="vertical" visibility="{{isCatalogLoaded ? 'visible' : 'collapsed'}}">
                <StackLayout class="order-wrapper">
                    <!-- CONTENT START -->
                    <StackLayout orientation="horizontal" class="order-list" *ngFor="let item of catalog; index as i">
                        <Card:CardView elevation="35" backgroundColor="white">
                            <GridLayout columns="120, *">
                                <AbsoluteLayout col="0" class="order-image-wrapper">
                                    <Label class="order-popup icon" text="&#xe901;"></Label>
                                    <StackLayout top="0" left="0" height="100%" width="100%" class="p-t-30 p-b-20 p-x-10 center">
                                        <Image class="order-image" [src]="item.image" width="80" height="80" verticalAlignment="center"></Image>
                                        <Label class="order-price" [text]="item.price[1]" horizontalAlignment="center" verticalAlignment="center" textWrap="true"></Label>
                                    </StackLayout>
                                </AbsoluteLayout>
                                <StackLayout col="1" class="order-desc-wrapper">
                                    <Label class="order-title" [text]='item.title' horizontalAlignment="left" textWrap="true"></Label>
                                    <Label class="order-desc" [text]="item.description" textWrap="true" horizontalAlignment="left"></Label>
                                    <StackLayout horizontalAlignment="right" verticalAlignment="bottom" orientation="horizontal">
                                        <StackLayout visibility="{{dataCatalog[categoryCatalog].btn[i] ? 'visible' : 'collapsed'}}" orientation="horizontal" class="m-t-25">
                                            <Button (tap)="onCustom(i)" class="order-note square icon" text="&#xe926; Custom" verticalAlignment="center"></Button>
                                            <Button (tap)="onMinus(i)" class="order-minus square" text="-" verticalAlignment="center"></Button>
                                            <Label [text]="dataCatalog[categoryCatalog].qty[i]" verticalAlignment="center"></Label>
                                            <Button (tap)="onPlus(i)" class="order-plus square" text="+" verticalAlignment="center"></Button>
                                        </StackLayout>
                                        <Button (tap)="onAdd(i)" visibility="{{dataCatalog[categoryCatalog].btn[i] ? 'collapsed' : 'visible'}}" class="order-add" text="+ Add" android:style="height: 25; width: 70;"></Button>
                                    </StackLayout>
                                </StackLayout>
                            </GridLayout>
                        </Card:CardView>
                    </StackLayout>
                    <!-- CONTENT END -->
                </StackLayout>
            </ScrollView>
            <StackLayout width="100%">
                <ActivityIndicator horizontalAlignment="center" #activityIndicator busy="{{isCatalogLoaded ? false : true}}" busyChange="" width="100" height="100" class="activity-indicator"></ActivityIndicator>
            </StackLayout>
        </StackLayout>
        <StackLayout visibility="{{showCart ? 'visible' : 'collapsed'}}" row="1" col="0" width="100%" class="p-x-15">
            <StackLayout width="100%" orientation="horizontal" class="bg-red p-x-10 p-y-10 nav-bottom">
                <StackLayout orientation="horizontal" verticaAlignment="center">
                    <Label verticaAlignment="center" class="icon icon-cart" text="&#xe900;" android:style="padding-top: 7;"></Label>
                    <Label verticaAlignment="center" class="label" text="{{totalItem}} items"></Label>
                    <Label verticaAlignment="center" class="label m-x-10" text="|"></Label>
                    <Label verticaAlignment="center" class="label" text="Rp {{totalPrice}}"></Label>
                </StackLayout>
                <StackLayout width="100%" verticaAlignment="center">
                    <Label class="icon arrow-right" horizontalAlignment="right" text="&#xe902;"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</AbsoluteLayout>