/* Add mobile styles for the component here.  */
.order-wrapper {
    Label {
        color: #333333;
    }
    .order-title {
        font-size: 16;
    }
    .order-desc {
        font-size: 12;
        margin-top: 5;
    }
    .order-list {
        margin: 10;
        border-radius: 5;
        border-width: 0.8;
        border-color: #888888;
        background-color: #ffffff;

        .order-image-wrapper {
            border-right-width: 0.8;
            padding: 20; 
            border-color: #888888;

            .order-popup {
                width: 50;
            }

            .order-price {
                font-weight: bold;
                color: #a3080c;
            }
        }

        .order-desc-wrapper {
            padding: 20 15;
            .order-desc {
                margin-bottom: 50;
            }
            .order-add {
                background-color: #FBC050;
                color: #a3080c;
                border-radius: 4;
                font-size: 12;
                font-weight: bold;
                padding: 0;
                text-transform: uppercase;
            }
        }
    }
}
