/* Add mobile styles for the component here.  */
.order-list {
    margin: 10;
    border-radius: 5;
    border-width: 1;
    border-color: #cccccc;
    background-color: #ffffff;

    Label {
        color: #333333;
    }
    .order-title {
        font-size: 16;
        text-transform: capitalize;
    }
    .order-desc {
        font-size: 12;
        margin-top: 5;
        text-transform: capitalize;
    }
    .order-price {
        color: #a3080c;
        font-size: 12;
        font-weight: bold;
        margin-top: 10;
    }
    .order-popup {
        color: #cccccc;
        font-size: 14;
        left: 8;
        top: 7;
    }

    .order-image-wrapper {
        border-right-width: 1;
        border-color: #cccccc;
    }

    .order-desc-wrapper {
        padding: 30 15 0;
        .order-add {
            background-color: #FBC050;
            color: #a3080c;
            border-radius: 3;
            font-size: 11;
            font-weight: bold;
            margin-top: 25;
            padding: 6 10;
            text-transform: uppercase;
        }
    }
}
