/* Add mobile styles for the component here.  */
.item-feature {
	background-color: #ffffff;
	border-color: #ffffff;
	margin: 5;
	.text {
		color: #333333;
		font-size: 14;
		padding-right: 20;
		horizontal-align: left;
	}
	.icon {
		color: #a3080c;
		font-size: 28;
		margin-top: 25;
		text-align: right;
	}
}