<GridLayout class="feature-list" columns="*, *, *" rows="auto" width="100%">
	<Card:CardView row="0" col="0" class="item-feature m-x-10 m-y-20" radius="20" elevation="20" ripple="true">
		<StackLayout class="p-x-10 p-y-15">
			<Label text="In Store Order" class="text" textWrap="true"></Label>
			<Label text="&#xe9a3;" class="icon"></Label>
		</StackLayout>
	</Card:CardView>
	<Card:CardView row="0" col="1" class="item-feature m-x-10 m-y-20" radius="20" elevation="20" ripple="true">
		<StackLayout class="p-x-10 p-y-15">
			<Label text="Delivery Order" class="text" textWrap="true"></Label>
			<Label text="&#xe9b0;" class="icon"></Label>
		</StackLayout>
	</Card:CardView>
	<Card:CardView row="0" col="2" class="item-feature m-x-10 m-y-20" radius="20" elevation="20" ripple="true">
		<StackLayout class="p-x-10 p-y-15">
			<Label text="Loyalty & Rewards" class="text" textWrap="true"></Label>
			<Label text="&#xe905;" class="icon"></Label>
		</StackLayout>
	</Card:CardView>
</GridLayout>
