<FlexboxLayout class="feature-list" justifyContent="space-between" alignItems="center">
	<StackLAyout width="200" class="item-feature">
		<Label text="In Store Order" class="text" textWrap="true"></Label>
		<Label text="&#xe9a3;" class="icon"></Label>
	</StackLAyout>
	<StackLAyout width="200" class="item-feature">
		<Label text="Delivery Order" class="text" textWrap="true"></Label>
		<Label text="&#xe9b0;" class="icon"></Label>
	</StackLAyout>
	<StackLAyout width="200" class="item-feature">
		<Label text="Loyalty & Rewards" class="text" textWrap="true"></Label>
		<Label text="&#xe905;" class="icon"></Label>
	</StackLAyout>
</FlexboxLayout>
