/* Add mobile styles for the component here.  */
@import '../../../app-variables';

.customorder-textfield {
  height: 100rem;
  border-width: 1px;
  border-color: #ccc;
  width: 100%;
  border-radius: 5%;
  background-color: $white;
  padding: 5rem;
  margin-top: 10rem;
  color: black;
}

.dialog-title {
  font-weight: bold;
  font-size: 25;
  color: $white;
}

.btn {
  border-radius: 3;
  padding: 4 8;
}

.btn.primary {
  background-color: $secondary;
  color: $white;
}
.btn.secondary {
  background-color: $white;
  color: $black;
}