<Page backgroundColor="#a3080c">
  <StackLayout margin="24" horizontalAlignment="center" verticalAlignment="top">
    <Label text="Custom Order" class="dialog-title"></Label>
    <StackLayout orientation="horizontal">
      <TextView #customorderTextview class="customorder-textfield" hint="Write your custom order here" text=""></TextView>>
    </StackLayout>
    <StackLayout orientation="horizontal" horizontalAlignment="right" marginTop="12">
      <Button class="btn secondary" text="Cancel" (tap)="close('Cancel')"></Button>
      <Button class="btn primary" text="Done" (tap)="close('OK')"></Button>
    </StackLayout>
  </StackLayout>
</Page>