/* Add mobile styles for the component here.  */
.banner-title {
    color: #000000;
    font-size: 22;
    font-weight: bold;
}
.banner-subtitle {
    color: #a3080c;
    font-size: 18;
    text-align: right;
}