<StackLayout class="banner-list">
  <GridLayout columns="*, *" rows="auto" width="100%" class="m-b-15 p-x-20">
    <label row="0" col="0" class="banner-title" text="Whats on KFC"></label>
    <label row="0" col="1" class="banner-subtitle" text="View All"></label>
  </GridLayout>
  <ScrollView orientation="horizontal" sdkExampleTitle sdkToggleNavButton scrollBarIndicatorVisible="false">
    <StackLayout orientation="horizontal" class="">
      <Image *ngFor="let item of banners; index as i" [src]="item.image" stretch="aspectFill" height="150" class="banner-image m-x-7 {{ i < 1 ? 'm-l-20' : '' }}"></Image>
    </StackLayout>
  </ScrollView>
</StackLayout>
